.course {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px 5px;
  height: 20vh;
  max-width: 300px;
  padding: 15px 10px;
  cursor: pointer;
}

.course:active {
  box-shadow: 5px 5px 5px gray;
}

.course-selected {
  background-color: lightgray;
  opacity: 1;
}

.course:first-of-type, .course:last-of-type {
  margin: 10px 0;
}

.edit-link {
  float: right;
  pointer-events: auto;
  cursor: pointer;
}

.course-top {
  height: 15vh;
}

.course-header {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.course-conflict {
  background-color: rgba(255, 0, 0, 0.3);
  pointer-events: none;
}
