.input-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.input-label {
  margin-left: 5px;
}

.input-bar {
  width: 60vw;
  height: 30px;
  border-radius: 15px;
  border: 1px solid darkgray;
  font-size: 16px;
  margin-top: 5px;
  padding: 0 10px;
}

.invalid-input-bar {
  outline: 1px solid red;
  box-shadow: 2px 2px 2px red;;
}

.invalid-input-msg {
  color: red;
  font-weight: 600;
  margin-left: 5px;
  margin-top: 5px;
}
