.modal {
  display: none;
  visibility: hidden;
  position: fixed;
  z-index: 1;
  width: calc(50vw - 40px);
  left: 25vw;
  top: 100px;
  background-color: white;
}

.modal-show {
  display: block;
  visibility: visible;
  border: 1px solid black;
  border-radius: 15px;
  padding: 15px 25px;
  max-height: 50vh;
  overflow: scroll;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-body {
  /* display: table;
  margin: 0 auto; */
}

.button-close {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  font-weight: 600;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
  transform: translate(15px, -5px);
}

.button-close:hover {
  opacity: 0.7;
}

.button-close:active {
  opacity: 0.5;
  box-shadow: 2px 2px gray;
}
